boto3==1.26.80
numpy==1.23.5
scikit-learn==1.1.2

# AWS credentials
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=your_aws_region

# Email credentials
SENDER_EMAIL=your_sender_email@gmail.com
EMAIL_PASSWORD=your_email_password
RECEIVER_EMAIL=receiver_email@gmail.com

